<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
<meta charset="ISO-8859-1">
<title>Register</title>
</head>
<body>
	<div ng-app="myApp" ng-controller="formCtrl">
		<form novalidate>
			Employee Name:<br> <input type="text" ng-model="user.employeeName" required><br>
			Department Name:<br> <input type="text" ng-model="user.departmentName" required><br>
			Profession:<br> <input type="text" ng-model="user.profession" required><br>
			Gender:<input type="radio" ng-model="user.gender" value="Male">Male
			<input type="radio" ng-model="user.gender" value="Female">Female<br>
			<button ng-click="reset()">RESET</button>
			<button ng-click="submit">Submit</button>
		</form>
		<p>form = {{user}}</p>
		<p>master = {{master}}</p>
	</div>
	<script>
	var app = angular.module('myApp', []);
	app.controller('formCtrl', function($scope) {
	    $scope.master = {departmentName:"EIT", profession:"SD", gender:"Male" };
	    $scope.reset = function() {
	        $scope.user = angular.copy($scope.master);
	    };
	    $scope.reset();
	});
	</script>
</body>
</html>