<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="controller.js"></script>
<body bgcolor="white">

	<div ng-app="myApp" ng-controller="myCtrl">

		<div align="center">
			<form ng-submit="addEmployee()">
				<table>
					<tr>
						<th colspan="2">Add New Employee</th>
					</tr>
					<tr>
						<td>Name</td>
						<td><input type="text" ng-model="form.employeeName" required /></td>
					</tr>
					<tr>
						<td>Department</td>
						<td><input type="text" ng-model="form.departmentName"
							required /></td>
					</tr>
					<tr>
						<td>Profession</td>
						<td><input type="text" ng-model="form.profession" required /></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td><input type="radio" ng-model="form.gender" value="Male"
							ng-required="!form.gender">Male <input type="radio"
							ng-model="form.gender" value="Female" ng-required="!form.gender">Female<br>
						</td>

					</tr>

					<tr align="center">
						<td colspan="2"><input style="cursor: pointer;" type="submit" value="Add Employee" /></td>
					</tr>

				</table>
			</form>
		</div>

		<br> 
		<!-- update employee UI -->
		<div ng-show="showEditEmployeeForm"
			ng-init="showEditEmployeeForm=false" align="center"
			style="background-color: #85929E; background-size: 30%;">

			<form ng-submit="updateEmployee()">
				<table>
					
					<tr bgcolor="#48C9B0">
						<th colspan="7" align="center">Edit Employee</th>
						
					</tr>
					
					<tr>
						<td colspan="2" align="center">Name</td>
						<td colspan="2" align="center">Department</td>
						<td colspan="2" align="center">Profession</td>
						<td colspan="2" align="center">Gender</td>
					</tr>
					<tr>
						<td><input type="hidden" ng-model="editData.employeeId"></input></td>
					</tr>
					<tr>
						<td colspan="2"><input type="text"
							ng-model="editData.employeeName" required /></td>
						<td colspan="2"><input type="text"
							ng-model="editData.departmentName" required /></td>
						<td colspan="2"><input type="text"
							ng-model="editData.profession" required /></td>
						<td colspan="2"><input type="radio"
							ng-model="editData.gender" value="Male"
							ng-required="!editData.gender">Male <input type="radio"
							ng-model="editData.gender" value="Female"
							ng-required="!editData.gender">Female<br></td>
					</tr>

					<br><br>
					<tr>
						<td colspan="7" align="center">
						<input style="cursor: pointer;" type="submit" value="Update" /></td>
					</tr>


				</table>
			</form>

		</div>

		<br>
		<br>

		<!-- all records columns -->
		<div ng-show="showDataTable" ng-init="showDataTable=true">
			<table align="center" border="1" cellpadding="10" cellspacing="3">
				<tr bgcolor="#48C9B0">
					<td>Employee ID</td>
					<td>Name</td>
					<td>Department</td>
					<td>Profession</td>
					<td>Gender</td>
					<td>Options</td>
				</tr>

				<tr ng-repeat="employee in employees">
					<td bgcolor="#48C9B0" align="center">{{ employee.employeeId }}</td>
					<td>{{ employee.employeeName }}</td>
					<td>{{ employee.departmentName }}</td>
					<td>{{ employee.profession }}</td>
					<td>{{ employee.gender }}</td>
					<td bgcolor="wheat"><a style="cursor: pointer;" ng-click="showEditEmployee(employee)">Update</a>
						| <a  style="cursor: pointer;" ng-click="deleteEmployee(employee)">Delete</a></td>
				</tr>
			</table>
		</div>
		<br>
		<br>


	</div>


</body>
</html>